* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.iconeNum {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid gainsboro;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #15151f;
    color: white;
}

.bg-grey {
    background: #2d2d41;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 120px;
    a{
        color: wheat;
    }
}

ul {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;

}

nav li {
    color: white;
}

.herosec {
    padding: 150px;
    height: 64vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 100%, #af987852, #2b241cf7 50%, #202025e6 75%, #2d2d34), url(hero-bg.webp);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav section {
    width: 20%;
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
}

article {
    text-align: center;
    border: solid;
    border-radius: 10PX;
    width: 49%;
    height: 342px;
}

.git {
    border: solid;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 7px gray;
}

img {

    width: 209px;
    margin: 39px;
}

.parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 60px;
}

.projetcard {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 7px gray;
    width: 30%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 30px #ced0e64a;
    border: #c3c3df2b solid 1px;
    padding: 20px;

    img {
        width: 100%;
        margin: 0;
    }
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    width: 40%;
}

.competences {
    width: 25%;

}

#apropos {
    text-align: center;
    margin-bottom: 50px;

    h2 {
        color: white;
    }
}

footer {
    text-align: center;
    background-color: black;


}

.cardapropos {
    border: solid;
    width: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 4px;
}

#parentcard {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    color: black;

    h5 {
        color: white;
    }

    p {
        padding: 10px
    }

}

.competences {
    border: solid whitesmoke;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    height: 105px;
    margin-top: 43px;
    align-items: center;
}

#maphoto {
    display: flex;
    padding: 0 60px;

    img {
        border-radius: 10px;
        width: 367px;
        margin: 37px
    }

    color: white;
    margin-bottom: 51PX;
}

h1 {
    margin-top:
}

header section {
    margin-bottom: 10px;
}

i {
    font-size: 41px;
    color: antiquewhite;
}